<!-- <p-tabView>
  <p-tabPanel header="Header 1">
     Content 1
     <button pButton type="button" label="Click" ></button>
  </p-tabPanel>
  <p-tabPanel header="Header 2">
      Content 2
  </p-tabPanel>
  <p-tabPanel header="Header 3">
      Content 3    
  </p-tabPanel>
</p-tabView> -->

<p-tabView>
    <p-tabPanel [header]="item.header" *ngFor="let item of items; let i = index" [selected]="i == 0">
        {{item.content}}
        <button pButton type="button" label="Click" (click)="addNewTab()"></button>
    </p-tabPanel>
</p-tabView>